data/consolidated_data.csv
.DS_Store
data/final_output/*
data/consolidateddata/*
data/final_output/openpose_results*
.Rhistory
.Rproj.user/
xs-face.Rproj
.idea
.nfs*
slurm-*
*.pyc
*.html
cdi/
cdi_summary.csv
