tmp/
*_cache/
.DS_Store
data/.DS_Store

data/consolidated_data/*
data/consolidated_data/consolidated_data_4detectors_march2020.csv
data/consolidated_data/old/*
data/consolidated_data/consolidated_data_4detectors_july2020.csv

data/final_detector_output/*
data/final_detector_output/openpose_results.csv
data/final_detector_output/openpose_results*
  
xs-face.Rproj
.idea
.nfs*
slurm-*
*.pyc
*.html
cdi/
cdi_summary.csv
writeup-cogsci-copy/cogsci2018_cache/*
analysis-main/main_analyses_bll_cache/*
analysis-main/main_analyses_bll_files/*
figs/
z-old/*

.Rproj.user
analysis-validation/.RData
analysis-validation/.RData 2
analysis-validation/.Rhistory
analysis-validation/.RData
writeup-paper/.Rhistory
writeup-paper/.Rhistory 2
analysis-validation/.RData
preprocessing/video_preprocessing/check_posture_frames.Rmd
analysis-validation/.RData
writeup-paper/.Rhistory

data/ground_truth/goldset_frames/*
data/openpose_examples/*
data/franchak_dataset/openpose_detections/full_jsons/161384-Baby_Scene.json
data/franchak_dataset/openpose_detections/full_jsons/161386-Baby_Scene.json
data/franchak_dataset/openpose_detections/full_jsons/161418-Baby_Scene.json
data/franchak_dataset/openpose_detections/full_jsons/161422-Baby_Scene.json
data/franchak_dataset/openpose_detections/full_jsons/161426-Baby_Scene.json
data/franchak_dataset/openpose_detections/full_jsons/161430-Baby_Scene.json
data/franchak_dataset/openpose_detections/full_jsons/161432-Baby_Scene.json
data/franchak_dataset/openpose_detections/full_jsons/161434-Baby_Scene.json
data/franchak_dataset/openpose_detections/full_jsons/161436-Baby_Scene.json
data/franchak_dataset/openpose_detections/full_jsons/161438-Baby_Scene.json
data/franchak_dataset/openpose_detections/full_jsons/161530-Baby_Scene.json
data/franchak_dataset/openpose_detections/full_jsons/161532-Baby_Scene.json
data/franchak_dataset/openpose_detections/full_jsons/161534-Baby_Scene.json
data/franchak_dataset/openpose_detections/full_jsons/161536-Baby_Scene.json
data/franchak_dataset/openpose_detections/full_jsons/161538-Baby_Scene.json
data/franchak_dataset/openpose_detections/full_jsons/161540-Baby_Scene.json
data/franchak_dataset/openpose_detections/full_jsons/161542-Baby_Scene.json
data/franchak_dataset/openpose_detections/z-old/franchak_frames_openpose_master_frames.csv


data/franchak_dataset/openpose_detections/z-old/*

writeup-paper/_old-drafts/*
writeup-paper/_old-drafts/backup.Rmd
writeup-paper/_old-drafts/draft_1_from_CogSci 2.Rmd
writeup-paper/_old-drafts/draft_1_from_CogSci.Rmd
writeup-paper/_old-drafts/draft_apa_aug2020.pdf
writeup-paper/_old-drafts/draft_apa_aug2020.Rmd
writeup-paper/_old-drafts/draft_apa_blinded.docx
writeup-paper/_old-drafts/draft_apa_blinded.pdf
writeup-paper/_old-drafts/draft_apa_blinded_2.docx
writeup-paper/_old-drafts/draft_apa_blinded_redo.docx
writeup-paper/_old-drafts/draft_apa_july2020.fff
writeup-paper/_old-drafts/draft_apa_july2020.pdf
writeup-paper/_old-drafts/draft_apa_july2020.Rmd
writeup-paper/_old-drafts/draft_apa_july2020.tex
writeup-paper/_old-drafts/draft_apa_july2020.ttt
writeup-paper/_old-drafts/draft_apa_march2020.Rmd
writeup-paper/_old-drafts/draft_march2020.Rmd
writeup-paper/_old-drafts/edited_draft_blinded.docx
writeup-paper/_old-drafts/step1_merge_data 2.Rmd
writeup-paper/_old-drafts/step1_merge_data.Rmd
writeup-paper/_submission_docs/cover_letter.docx
writeup-paper/_submission_docs/draft_blinded_docx.docx
writeup-paper/_submission_docs/title_page.docx
writeup-paper/_submission_docs/~$aft_blinded_docx.docx
writeup-paper/_submission_docs/~$tle_page.docx
writeup-paper/_submission_docs/~$ver_letter.docx
writeup-paper/_submission_docs/draft_withIDinfo.docx
writeup-paper/_submission_docs/old.docx

writeup-paper/_submission_docs/*
writeup-paper/_old-drafts/helper.R
writeup-paper/_old-drafts/glmer_errorbands_try.R
data/demographics/XS_FACE_Consents_temp.numbers
data/posture/orient_redone_BL/numbers_dcs/XS_1612_postureagain.xls
